.trash
.obsidian/workspace.json
.obsidian/plugins/immersive-translate
.obsidian/plugins/remotely-save
.obsidian/plugins/obsidian42-brat/data.json




# Ignore Smart Environment folder
.smart-env

# Android ignore
*.bak
