/* 引用（最后一行）靠右 */
.callout[data-callout="cite"][data-callout-metadata="with-name"]>.callout-content>p:last-of-type,
.callout[data-callout="quote"][data-callout-metadata="with-name"]>.callout-content>p:last-of-type {
    margin-right: 30px;
    text-align: right;
}

/* 并添加引用符号前缀 */
.callout[data-callout="cite"][data-callout-metadata="with-name"]>.callout-content>p:last-of-type::before,
.callout[data-callout="quote"][data-callout-metadata="with-name"]>.callout-content>p:last-of-type::before {
    content: "― ";
}
