body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile{
	width: fit-content !important;
	display: flex;
	flex-direction: column;
	gap: 6px;
	position: absolute;
	left: -12.5%;
	bottom: 1%;
}
body.theme-light:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile{
	border: 0;
	padding: 0;
	z-index: 99;
}
body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile .workspace-drawer-vault-switcher{
	z-index: 99;
}
body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile .workspace-drawer-vault-switcher-icon{
	color: var(--icon-color) !important;
}
body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile .workspace-drawer-vault-actions{
	display: flex;
	flex-direction: column;
	gap: 6px;
	z-index: 99;
}
body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile .workspace-drawer-vault-name{
	display: none !important;
}