/*
.tag:not(.token) {
  background-color: var(--text-accent);
  border: none;
  color: white;
  font-size: 11px;
  padding: 1px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 14px;
}
.tag:not(.token):hover {
  color: white;
  background-color: var(--text-accent-hover);
}
*/

/*
 * @Author   : 咖啡豆
 * @contact  : 咖啡豆
 * @File     : 多彩小丸子标签.css
 * @Software : vscode
 * @Date     : 2022-08-09 23:15:00
 * @upDate   : 2022-08-10 12:57:05
 * @Desc     : 修改便签样式为小丸子和多彩显示
 * @Desc     : 样式:root的注释掉就关掉了，要用的样式打开
 */


/* border-radius变量  */:root {
  /* 圆角-数字越大圆角越圆 */  /* --border-radius-wanzi: 0.5rem;  */  --border-radius-wanzi: 0.8rem!important;
}

/* 样式1-七彩虹-不用的时候注释代码即可*/
:root {
  --font-color: white;
  --background-color-1: red;
  --background-color-2: orange;
  --background-color-3: #F4D00C;
  --background-color-4: green;
  --background-color-5: #00bbff;
  --background-color-6: blue;
  --background-color-7: purple;
}

/* 样式2-Vue-渐变色-不用的时候注释代码即可 *//* :root {
--font-color: white;  --background-color-1: #1f4d03;  --background-color-2: #548c14;  --background-color-3: #84bf41;  --background-color-4: #94d44a;  --background-color-5: #a1e751;  --background-color-6: #9fe251;  --background-color-7: #b2e07d;} */

.tag:not(.token) {
  background-color: var(--text-accent);
  border: none;
  color: var(--font-color);
  font-size: 0.875rem; /* 14px 调整在v1.0.0 版本中的样式 */  /* padding: 1px 8px; */  padding: 2px 8px; /* 2022-08-10 12:57:05 */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: var(--border-radius-wanzi);
}
