 /* @settings
name: Table美化
id: Mo-Table
settings:
  -
    id: tbMH-yangshi
    title: 表格样式选择
    type: class-select
    allowEmpty: false
    default: tbMH-zhi
    options:
      -
        label: 直角模式
        value: tbMH-zhi
      -
        label: 圆角模式
        value: tbMH-yuan
  -
    id: tbMH-ds
    title: 表格底色样式选择
    type: class-select
    allowEmpty: false
    default: tbMH-ds-cg
    options:
      -
        label: 常规底色模式
        value: tbMH-ds-cg
      -
        label: 标题底色模式
        value: tbMH-ds-bt
      -
        label: 透明底色模式
        value: tbMH-ds-tm
  -
    id: tbMH-kd
    title: 表格宽度是否超出显示界面选择
    type: class-select
    allowEmpty: false
    default: tbMH-kd-cc
    options:
      -
        label: 超出模式
        value: tbMH-kd-cc
      -
        label: 不超出模式
        value: tbMH-kd-ncc
  -
    id: tbMH-th
    title: 表格标题颜色调整
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
  -
    id: tbMH-td
    title: 表格间隔层颜色调整
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
  -
    id: tbMH-th-djDS
    title: 框选多单元格时行列底色调整
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
  -
    id: tbMH-kj-color
    title: 表格框架颜色调整
    type: variable-themed-color
    default-light: '#'
    default-dark: '#'
    format: 'rgb-values'
  -
    id: table-thickness
    title: 表格框架粗度调整
    type: variable-number
    default: 2
    format: px
  -
    id: tbMH-yuan-jd
    title: 表格框架圆角角度调整
    type: variable-number
    default: 6
    format: px
  -
*/

/*表格边框颜色*/
body.theme-light {
  --table-border-color: rgb(var(--tbMH-kj-color, 81, 81, 81));
  --table-add-button-border-color:rgb(var(--tbMH-kj-color, 81, 81, 81));
  --text-faint:rgb(var(--tbMH-kj-color, 81, 81, 81));
}

body.theme-dark {
  --table-border-color: rgb(var(--tbMH-kj-color, 108, 88, 88));
  --table-add-button-border-color:rgb(var(--tbMH-kj-color, 108, 88, 88));
  --text-faint:rgb(var(--tbMH-kj-color, 108, 88, 88));
}

/*表格边框粗细*/
.theme-dark, .theme-light {
  --table-border-width: var(--table-thickness, 2px);
}

/*表格按钮动画*/
.markdown-source-view.mod-cm6 .cm-table-widget .table-row-btn, .markdown-source-view.mod-cm6 .cm-table-widget .table-col-btn {
  transition-duration:400ms
}

/*表格底色*/
body.theme-light :is(.markdown-preview-view,.markdown-source-view.mod-cm6 .cm-table-widget) th {
    background-color: rgb(var(--tbMH-th, 145, 163, 143))
}

body.theme-light tr:nth-child(2n) td {
    background-color:rgb(var(--tbMH-td, 145, 163, 143))
}

body.theme-dark :is(.markdown-preview-view,.markdown-source-view.mod-cm6 .cm-table-widget) th {
    background-color:rgb(var(--tbMH-th, 32, 23, 23))
}

body.theme-dark tr:nth-child(2n) td {
    background-color:rgb(var(--tbMH-td, 32, 23, 23))
}

/*全宽表格*/
:is(.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper, .markdown-rendered table)  {
  --table-white-space: break-all;
  width: 100%;
}

:is(.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper, .markdown-rendered table) .table-editor {
  width: 100%;
}

/*圆角样式*/
body.tbMH-yuan {
  --table-radius: var(--tbMH-yuan-jd,6px);
}


body.tbMH-yuan .markdown-rendered table {
  border-collapse: initial;
  border-spacing: 0;
}

body.tbMH-yuan :is(.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper, .markdown-rendered table) th:first-child:not(:has(:is(.table-row-drag-handle, .table-col-drag-handle):hover)) {
  border-top-left-radius: var(--table-radius);
}
body.tbMH-yuan :is(.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper, .markdown-rendered table) th:last-child:not(:has(.table-col-drag-handle:hover)) {
  border-top-right-radius: var(--table-radius);
}
body.tbMH-yuan :is(.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper, .markdown-rendered table):has(.table-col-btn:hover) th:last-child {
  border-top-right-radius: 0;
}
body.tbMH-yuan :is(.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper, .markdown-rendered table) tr:last-child td:first-child {
  border-bottom-left-radius: var(--table-radius);
}
body.tbMH-yuan :is(.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper, .markdown-rendered table):has(.table-row-btn:hover) tr:last-child td:first-child {
  border-bottom-left-radius: 0;
}
body.tbMH-yuan :is(.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper, .markdown-rendered table) tr:last-child td:last-child {
  border-bottom-right-radius: var(--table-radius);
}
body.tbMH-yuan :is(.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper, .markdown-rendered table):has(:is(.table-col-btn, .table-row-btn):hover) tr:last-child td:last-child {
  border-bottom-right-radius: 0;
}

/*按钮圆角调整*/
body.tbMH-yuan :is(.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper, .markdown-rendered table) .table-col-btn {
  border-top-right-radius: var(--table-radius);
  border-bottom-right-radius: var(--table-radius);
}
body.tbMH-yuan :is(.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper, .markdown-rendered table) .table-row-btn {
  border-bottom-left-radius: var(--table-radius);
  border-bottom-right-radius: var(--table-radius);
}


body.tbMH-yuan :is(.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper, .markdown-rendered table) :is(th, td):not(:first-child) {
  border-left: 0;
}
body.tbMH-yuan :is(.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper, .markdown-rendered table) tbody td {
  border-top: 0;
}

/*点击连框颜色*/
body.theme-light .markdown-source-view.mod-cm6 .cm-table-widget th.is-selected::after,body.theme-light .markdown-source-view.mod-cm6 .cm-table-widget td.is-selected::after {
  background-color:rgba(var(--tbMH-th-djDS,204, 178, 31, 0.279))
}

body.theme-dark .markdown-source-view.mod-cm6 .cm-table-widget th.is-selected::after,body.theme-dark .markdown-source-view.mod-cm6 .cm-table-widget td.is-selected::after {
  background-color:rgba(var(--tbMH-th-djDS,149, 31, 204, 0.203))
}

/*不超过模式*/
body.tbMH-kd-ncc :is(.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper .cm-active, .markdown-rendered table) {
  word-break: break-all;
}

/*透明底色模式*/
body.tbMH-ds-bt tr:nth-child(2n) td {
  background-color:transparent;
}

/*透明底色模式*/
body.tbMH-ds-tm :is(.markdown-preview-view,.markdown-source-view.mod-cm6 .cm-table-widget) th {
  background-color:transparent;
}

body.tbMH-ds-tm tr:nth-child(2n) td {
  background-color:transparent;
}

